version: '3.8'

services:
  
  db:
    image: postgres:15-alpine
    container_name: library_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: library_db
    ports:
      - "5432:5432" 
    volumes:
      - pgdata:/var/lib/postgresql/data 

 
  app:
    build: .
    container_name: library_api
    restart: always  
    ports:
      - "9000:9000"
    depends_on:
      - db 
    environment:
     
      - DB_HOST=db           
      - DB_USER=postgres
      - DB_PASSWORD=1234
      - DB_NAME=library_db
      - DB_PORT=5432
      - JWT_SECRET=djwbfshbscnsjbchsbdjsckcdsdn

volumes:
  pgdata: